<div id="container">
    <h2 class="fontSubHead" style="color: #888;" >Login</h2>
    <div class="form-group">
        <input 
            type="email" 
            id="email" 
            [ngClass]="{'value': email!=='', 'error': error }" 
            [(ngModel)]="email"/>
        <label for="email" >Email : </label>
        <hr>
    </div>
    <div class="form-group">
        <input 
            type="password" 
            id="password" 
            [ngClass]="{'value': password!=='', 'error': error  }" 
            [(ngModel)]="password"/>
        <label for="password" >Password : </label>
        <hr>
    </div>
    <div class="form-group">
        <input 
            type="checkbox" 
            id="staySignIn"
            [(ngModel)]="staySignIn">
        <span class="fontBody">Stay Signed In</span>
    </div>
    <div class="form-group">
        <button id="submitButton" (click)="submitEvent()" [attr.disabled]="formFetch ? '' : null" >
            <span id="submitText" *ngIf="!formFetch">Login</span>
            <span id="submitLoad" *ngIf="formFetch"></span>
        </button>
    </div>
</div>

