/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto+Slab');

/* 

font-family: 'Roboto Slab', serif;

font-family: 'Roboto Mono', monospace;

font-family: 'Roboto Condensed', sans-serif;

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.fontHead {
    font-family: 'Roboto Slab', serif;
}

.fontSubHead {
    font-family: 'Roboto Mono', monospace;
}

.fontBody {
    font-family: 'Roboto Condensed', sans-serif;
}